@{
    ViewData["Title"] = "Map Explore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MapExplore.Models.Brewery>

<script>
    $(document).ready(function () {
        $('#myButton').click(function (event) {
            event.preventDefault();
            if ($('#zip').val() === "")
            {
                alert("this field is required")

            }
            else
            {



            $.ajax({
                url: '@Url.Action("GetBreweries", "Home")',
                type: 'POST',
                data: { zip: $('#zip').val() },
                dataType: 'json',
                success: function (result) {
                    L.mapbox.accessToken = 'pk.eyJ1IjoiYWxiZWxrYSIsImEiOiJjaXpwc2VlOWwwMHNtMzJvNDZreDMxMTgwIn0.GkWVE5JQRakQyQSoJFKp3A';
                    var map = L.mapbox.map('map', 'mapbox.outdoors')
                        .setView([45.5588827, -122.6427274], 11);
                    console.log(result);
                    $('#showMap').html(

                    result.forEach(function (thing) {
                        console.log(thing.lat)
                        L.marker([thing.lat, thing.long]).addTo(map)
                    .bindPopup(thing.name)
                    .openPopup();

                    }));
                    $('.showButton').show();
                }
           
            });
            }
        });
    })
</script>


@using (Html.BeginForm(new { @class = "get-brews" }))
{
    <div class="input-field col s6">
        @Html.Label("Enter a ZIP code")
        @Html.TextBox("zip", null, new { required=string.Empty })
    </div>

        <input id="myButton" type="submit" value="Submit" class="btn"/>
        }

        <div id="showMap"></div>
        <div class="showButton">
            @Html.ActionLink("Try another zipcode", "Index")
        </div>

        <div id="map"></div>

